.component.wishlist-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .btn-like {
        margin-right: 0.5rem;
    }

    .image {
        width: 60px;
    }

    .information {
        margin-left: 0.5rem;

        .name {
            color: #000000;
            font-weight: 300;
            font-size: 14px;
        }

        .status {
            display: block;
            color: #aaaaaa;
            font-size: 11px;
            font-weight: 200;
        }
    }
}
